/* YOUR STYLING HERE */
body{
  background-color: #E5F3F4;
}
.title {
  color: #35BDCB;
}
.app {
  margin: auto;
}
.green {
  color: green;
}
.red {
  color: red;
}
.align {
  display: inline;
}
button {
  margin-right: 10px;
}
